html,
body {
  font-size: var(--font-text);
}

.title {
  line-height: 88px;
  letter-spacing: -2.5px;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}
.habilities {
  max-width: unset;
  justify-content: space-between;
}
.hability {
  margin-bottom: 58px;
}

.hability:nth-child(4) {
  margin-bottom: 0px;
}
