* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --black-color: #151515;
  --Dark-Grey: #242424;
  --font-family: "Space Grotesk", sans-serif;
  --font-l: 48px;
  --font-m: 24px;
  --font-text: 18px;
  --font-text-s: 16px;
  --font-xl: 40px;
  --font-tablet-xl: 72px;
  --font-desktop-xl: 88px;
  --green-color: #4ee1a0;
  --grey-color: #d9d9d9;
  --white-color: #fff;
}

html,
body {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: var(--font-family);
  font-size: var(--font-text-s);
}

.title {
  font-size: var(--font-xl);
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
}

main {
  padding: 16px;
}
/* Seccion de habilidades */

.habilities {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  padding: 40px 0;
  margin-bottom: 80px;
}

.hability {
  text-align: center;
  max-width: 345px;
}

.habilty-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}

.habilty-title + p {
  color: var(--grey-color);
}

/* Seccion de projectos */
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-bottom: 80px;
}

.projects-header {
  width: 100%;
}

.projects-title {
  font-size: var(--font-xl);
  font-weight: 700;
}

.project-img {
  width: 100%;
}

.project {
  width: 100%;
}

.project-title {
  font-size: var(--font-m);
  margin: 20px 0 7px 0;
}

.tag {
  font-size: var(--font-text);
  color: var(--grey-color);
  margin-left: 18px;
}

.tag:nth-child(1) {
  margin-left: 0;
}
